@import "variables";

body {
  margin: 0;

  header {
    height: 82px;
    background: black;
    display: flex;
    flex-direction: row;

    a {
      text-decoration: none;
      color: white;
    }

    #logo {
      display: flex;
      flex-direction: column;
      align-self: center;
      margin-left: 8%;
    }

    #navButtons {
      display: flex;
      flex-direction: row;
      color: white;
      align-self: center;
      margin-left: 16%;

      #activePage {
        border-bottom: 1px solid @lineHoverColor;
      }

      div {
        cursor: pointer;
        font-family: @fontFamilyHelvetica;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.055em;
        margin: 0 5px;
        padding: 10px;

        &:hover {
          border-bottom: 1px solid @lineHoverColor;
        }

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }

    .bookAppointment {
      align-self: center;
      color: @goldColor;
      font-family: @fontFamilyHelvetica;
      font-size: 14px;
      padding: 16px 48px;
      background-color: white;
      border-radius: 8px;
      margin-left: 10%;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        transition: 0.4s;
        transform: scale(1.04);
        background-color: @goldColor;
        color: white;
      }
    }
  }
}
