@font-face {
  font-family: Helvetica regular;
  src: url("fonts/helvetica_regular.otf");
}
body {
  margin: 0;
}
body header {
  height: 82px;
  background: black;
  display: flex;
  flex-direction: row;
}
body header a {
  text-decoration: none;
  color: white;
}
body header #logo {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 8%;
}
body header #navButtons {
  display: flex;
  flex-direction: row;
  color: white;
  align-self: center;
  margin-left: 16%;
}
body header #navButtons #activePage {
  border-bottom: 1px solid #DBB32F;
}
body header #navButtons div {
  cursor: pointer;
  font-family: Helvetica regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.055em;
  margin: 0 5px;
  padding: 10px;
}
body header #navButtons div:hover {
  border-bottom: 1px solid #DBB32F;
}
body header #navButtons div:first-child {
  margin-left: 0;
}
body header #navButtons div:last-child {
  margin-right: 0;
}
body header .bookAppointment {
  align-self: center;
  color: #AE825D;
  font-family: Helvetica regular, sans-serif;
  font-size: 14px;
  padding: 16px 48px;
  background-color: white;
  border-radius: 8px;
  margin-left: 10%;
  cursor: pointer;
  transition: 0.3s;
}
body header .bookAppointment:hover {
  transition: 0.4s;
  transform: scale(1.04);
  background-color: #AE825D;
  color: white;
}
.navigation {
  display: flex;
  flex-direction: row;
}
.navigation div {
  width: 56px;
  height: 56px;
  background-color: #252525;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
}
.navigation div:hover {
  transition: 0.4s;
  transform: scale(1.04);
}
.navigation div.inactive {
  opacity: 0.65;
  cursor: default;
}
.navigation div.inactive:hover {
  transform: scale(1);
}
.navigation .left {
  margin-right: 24px;
}
.circles {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circles span {
  margin-right: 11px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #798189;
}
.circles span:last-child {
  margin-right: 0;
}
.circles #circle1,
.circles #circle5 {
  opacity: 0.6;
}
.circles .active {
  width: 10px;
  height: 10px;
  background-color: black;
  opacity: 1 !important;
}
footer {
  background-color: #252525;
  height: 40vh;
  display: flex;
  flex-direction: row;
  font-family: Helvetica regular, sans-serif;
}
footer .logoImg,
footer .underLogo {
  color: #DBB32F;
  font-family: Helvetica regular, sans-serif;
  letter-spacing: 0.165em;
}
footer .logoImg {
  font-size: 20px;
}
footer .underLogo {
  font-size: 10px;
  margin-left: 7%;
}
footer .text,
footer .contacts,
footer .socialNetworks,
footer .newsletter {
  margin-top: 4%;
}
footer .text {
  margin-left: 4%;
}
footer .text .words {
  margin-top: 9%;
  font-family: Helvetica regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 11pt;
  line-height: 150%;
  letter-spacing: 0.055em;
  color: #F6F0E9;
  opacity: 0.8;
  width: 50%;
}
footer .text .copyright {
  margin-top: 15%;
  font-style: normal;
  font-weight: normal;
  font-size: 10pt;
  line-height: 150%;
  letter-spacing: 0.055em;
  text-decoration-line: underline;
  color: #798189;
  opacity: 0.6;
}
footer .contacts {
  width: 15%;
  margin-left: 9%;
}
footer .contacts figure {
  display: flex;
  flex-direction: row;
  margin: 7% 0;
}
footer .contacts figure:first-child {
  margin-top: 17%;
}
footer .contacts figure figcaption {
  font-style: normal;
  font-weight: normal;
  font-size: 12pt;
  line-height: 150%;
  color: #F6F0E9;
  opacity: 0.8;
  padding-left: 5%;
}
footer .contacts .bigFont {
  font-style: normal;
  font-weight: normal;
  font-size: 18pt;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #AE825D;
}
footer .socialNetworks {
  font-style: normal;
  font-weight: normal;
  font-size: 11pt;
  line-height: 150%;
  letter-spacing: 0.055em;
  color: #F6F0E9;
  opacity: 0.8;
  width: 12%;
  margin-left: 10%;
}
footer .socialNetworks div {
  margin-bottom: 12%;
}
footer .socialNetworks img {
  margin-right: 7%;
}
footer .newsletter {
  margin-left: auto;
  padding-right: 4%;
}
footer .newsletter .join {
  font-style: normal;
  font-weight: normal;
  font-size: 11pt;
  line-height: 150%;
  letter-spacing: 0.055em;
  color: #AE825D;
}
footer .newsletter span {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}
footer .newsletter span label {
  font-style: normal;
  font-weight: normal;
  font-size: 11pt;
  line-height: 150%;
  letter-spacing: 0.055em;
  color: #F6F0E9;
  margin-bottom: 4%;
}
footer .newsletter span input {
  border: 1px solid #AE825D;
  box-sizing: border-box;
  padding: 16px 120px 19px 16px;
}
footer .newsletter span input::placeholder {
  font-family: Helvetica regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #798189;
  opacity: 0.6;
}
footer .newsletter .button {
  background-color: #AE825D;
  margin-top: 8%;
  color: white !important;
  font-style: normal;
  font-weight: normal;
  font-size: 10pt;
  line-height: 150%;
  width: 55%;
  padding: 16px 48px;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
}
footer .newsletter .button:hover {
  background-color: #B8753D;
  transform: scale(1.04);
}
#content #firstGirl {
  min-width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#content #firstArticle {
  margin-top: 10%;
  margin-left: 8%;
  height: 80vh;
}
#content #firstArticle .calgary {
  font-family: "Helvetica regular", sans-serif;
  font-size: 64pt;
  color: #FFFFFF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#content #firstArticle .smallFont {
  font-weight: normal;
  font-size: 24pt;
}
#content #firstArticle .bigFont {
  font-size: 82pt;
}
#content #firstArticle #check {
  color: #432328;
  font-family: "Helvetica regular", sans-serif;
  font-size: 15pt;
  margin-top: 2%;
}
#content #firstArticle #buttonsFirst {
  display: flex;
  flex-direction: row;
  margin-top: 28px;
}
#content #firstArticle #buttonsFirst .bookAppointment {
  align-self: center;
  color: white;
  font-family: "Helvetica regular", sans-serif;
  font-size: 14px;
  background-color: #AE825D;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  padding: 16px 48px;
}
#content #firstArticle #buttonsFirst .bookAppointment:hover {
  transition: 0.4s;
  transform: scale(1.04);
  background-color: #B8753D;
}
#content #firstArticle #buttonsFirst .services {
  margin-left: 1%;
  transition: 0.4s;
}
#content #firstArticle #buttonsFirst .services:hover {
  transition: 0.3s;
  background-color: #AE825D;
  color: white;
}
#content #firstArticle #services {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  color: #AE825D;
  font-family: "Helvetica regular", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12pt;
}
#content #firstArticle #services > div {
  margin-right: 93px;
}
#content #firstArticle #services > div div:first-child {
  margin-bottom: 8px;
}
#content #firstArticle #services .firstColumn,
#content #firstArticle #services .secondColumn,
#content #firstArticle #services .thirdColumn {
  display: flex;
  flex-direction: column;
}
#content .services,
#content .button {
  align-self: center;
  color: #AE825D;
  font-family: Helvetica regular, sans-serif;
  font-size: 14px;
  border: 1px solid #AE825D;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  padding: 16px 48px;
}
#content #thirdArticle {
  display: flex;
  flex-direction: row;
  margin-top: 5%;
}
#content #thirdArticle #secondGirl {
  max-height: 75vh;
}
#content #thirdArticle #bcElement {
  position: absolute;
  right: 0;
  top: 1900px;
}
#content #thirdArticle #textSecondArticle {
  margin-left: 10%;
  margin-top: 11%;
  max-width: 650px;
}
#content #thirdArticle #textSecondArticle .bigFont {
  font-size: 65pt;
  line-height: 64px;
  font-family: Helvetica regular, sans-serif;
}
#content #thirdArticle #textSecondArticle .mediumFont {
  margin-top: 7%;
  font-family: Helvetica regular, sans-serif;
  font-size: 30pt;
  line-height: 32px;
  color: #432328;
}
#content #thirdArticle #textSecondArticle .smallFont {
  font-family: Helvetica regular, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #798189;
  margin-top: 3%;
}
#content #thirdArticle #textSecondArticle .button {
  margin-top: 7%;
  max-width: 180px;
  transition: 0.4s;
}
#content #thirdArticle #textSecondArticle .button:hover {
  transition: 0.3s;
  background-color: #AE825D;
  color: white;
}
#content #secondArticle .border {
  height: 0;
  margin-left: auto;
  box-sizing: border-box;
  border: 1px solid #AE825D;
  width: 17%;
  margin-bottom: 2%;
}
#content #secondArticle .bigFont {
  font-family: Helvetica regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50pt;
  text-align: center;
  background: linear-gradient(to right, #EEDEBD 67%, transparent 50%);
}
#content #secondArticle .gallery {
  margin-top: 2%;
  min-height: 522px;
  display: flex;
  flex-direction: row;
}
#content #secondArticle .gallery div {
  margin: auto;
}
#content #secondArticle .gallery #photo2,
#content #secondArticle .gallery #photo4 {
  opacity: 0.6;
}
#content #secondArticle .gallery #photo2 img,
#content #secondArticle .gallery #photo4 img {
  width: 328px;
}
#content #secondArticle .gallery #photo1,
#content #secondArticle .gallery #photo5 {
  opacity: 0.3;
}
#content #secondArticle .gallery #photo1 img,
#content #secondArticle .gallery #photo5 img {
  width: 128px;
}
#content #secondArticle .navigation {
  margin-left: 7%;
  margin-top: 2px;
}
#content #secondArticle .circles {
  margin-top: 5%;
}
#content #fourthArticle {
  height: 90vh;
  background-color: #F6F0E9;
  margin-top: 3%;
  display: flex;
  flex-direction: row;
  font-family: Helvetica regular, sans-serif;
}
#content #fourthArticle .bigFont {
  max-width: 500px;
  margin-top: 7%;
  margin-left: 7%;
  font-size: 45pt;
}
#content #fourthArticle .smallFont {
  max-width: 400px;
  margin-top: 6%;
  margin-left: 7%;
  font-size: 15pt;
}
#content #fourthArticle svg {
  margin-top: 15%;
  width: 80%;
}
#content #fourthArticle .navigation {
  margin-left: 7%;
}
#content #fourthArticle #bigNumbers {
  font-family: "Helvetica regular", sans-serif;
  font-size: 35pt;
  font-weight: 400;
  margin-left: 7%;
  margin-top: 68px;
  margin-bottom: 2%;
}
#content #fourthArticle #smallNumbers {
  font-family: "Helvetica regular", sans-serif;
  font-weight: 400;
  font-size: 14pt;
  color: #798189;
}
#content #fourthArticle #comments {
  display: flex;
  flex-direction: row;
  max-height: 60%;
  margin-top: 7%;
  margin-left: 30px;
}
#content #fourthArticle #comments > div {
  width: 300px;
  background: #FFFFFF;
  border-radius: 8px;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  padding: 0 24px 32px 24px;
  font-family: "Helvetica regular", sans-serif;
  margin-right: 15px;
}
#content #fourthArticle #comments > div:last-child {
  margin-right: 0;
}
#content #fourthArticle #comments img {
  position: relative;
  top: -5%;
}
#content #fourthArticle #comments .name {
  letter-spacing: 0.04em;
  font-size: 19pt;
}
#content #fourthArticle #comments .commentHolder {
  letter-spacing: 0.055em;
  font-size: 10pt;
  color: #798189;
  margin: 3% 0 9% 0;
}
#content #fourthArticle #comments .commentText {
  line-height: 150%;
  font-size: 12pt;
}
#content #fourthArticle #comments .activeComment {
  border: 1px solid #AE825D;
}
#content #fourthArticle #comments img {
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
}
#content #getInTouch {
  height: 90%;
  display: flex;
  flex-direction: row;
}
#content #getInTouch #social {
  display: flex;
  flex-direction: column;
}
#content #getInTouch #social img {
  width: 90%;
}
#content #getInTouch #social #networks {
  background-color: #798189;
  width: 90%;
  padding: 37px 0;
  text-align: center;
}
#content #getInTouch #social #networks span {
  margin-right: 46px;
  font-family: "Helvetica regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12pt;
  line-height: 150%;
  color: #F6F0E9;
  cursor: pointer;
}
#content #getInTouch #social #networks span img {
  width: 24px;
  position: relative;
  top: 10%;
  padding-right: 5px;
}
#content #getInTouch #social #networks span img[alt="telegram"] {
  top: 5%;
}
#content #getInTouch #feedback {
  margin-top: 3%;
  margin-left: 5%;
}
#content #getInTouch #feedback .bigFont {
  font-family: "Helvetica regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 50pt;
  line-height: 100%;
}
#content #getInTouch #feedback .smallFont {
  font-family: "Helvetica regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.055em;
  color: #432328;
  margin-top: 3%;
}
#content #getInTouch #feedback svg {
  position: relative;
  left: -45%;
  z-index: -1;
  margin-top: 8%;
}
#content #getInTouch #feedback .name {
  display: flex;
  flex-direction: row;
  margin-top: 3%;
}
#content #getInTouch #feedback #firstName,
#content #getInTouch #feedback #secondName {
  display: flex;
  flex-direction: column;
}
#content #getInTouch #feedback #firstName {
  margin-right: 5%;
}
#content #getInTouch #feedback input {
  padding: 17px 0 18px 16px;
}
#content #getInTouch #feedback #servicesToChoose {
  margin-top: 3%;
}
#content #getInTouch #feedback #servicesToChoose span {
  font-family: "Helvetica regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18pt;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #432328;
}
#content #getInTouch #feedback #servicesToChoose #checkBoxes {
  display: flex;
  flex-direction: row;
}
#content #getInTouch #feedback #servicesToChoose #checkBoxes #column1,
#content #getInTouch #feedback #servicesToChoose #checkBoxes #column2 {
  display: flex;
  flex-direction: column;
}
#content #getInTouch #feedback #servicesToChoose #checkBoxes #column1 label,
#content #getInTouch #feedback #servicesToChoose #checkBoxes #column2 label {
  font-family: Helvetica regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12pt;
  line-height: 100%;
  color: #AE825D;
  cursor: pointer;
}
#content #getInTouch #feedback #servicesToChoose #checkBoxes #column1 input,
#content #getInTouch #feedback #servicesToChoose #checkBoxes #column2 input {
  cursor: pointer;
}
#content #getInTouch #feedback #servicesToChoose #checkBoxes #column1 input[type='radio'],
#content #getInTouch #feedback #servicesToChoose #checkBoxes #column2 input[type='radio'] {
  position: relative;
  height: 22px;
  width: 22px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}
#content #getInTouch #feedback #servicesToChoose #checkBoxes #column1 input[type='radio']::before,
#content #getInTouch #feedback #servicesToChoose #checkBoxes #column2 input[type='radio']::before {
  content: '';
  position: absolute;
  top: 83%;
  left: 50%;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #AE825D;
}
#content #getInTouch #feedback #servicesToChoose #checkBoxes #column1 input[type='radio']:checked::after,
#content #getInTouch #feedback #servicesToChoose #checkBoxes #column2 input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 83%;
  left: 50%;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #AE825D;
  transform: translate(-50%, -50%);
  visibility: visible;
}
#content #getInTouch #feedback #servicesToChoose #checkBoxes #column1 {
  margin-right: 20%;
}
#content #getInTouch #feedback .labelFeedback {
  font-family: "Helvetica regular", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18pt;
  line-height: 133%;
  letter-spacing: 0.04em;
  color: #432328;
  margin-bottom: 3%;
}
#content #getInTouch #feedback .inputFeedback {
  border: 1px solid #AE825D;
  box-sizing: border-box;
  border-radius: 8px;
  font-family: Helvetica regular, sans-serif;
}
#content #getInTouch #feedback #email {
  display: flex;
  flex-direction: column;
  margin-top: 3%;
}
#content #getInTouch #feedback #email label {
  margin-bottom: 1.5%;
}
#content #getInTouch #feedback #message {
  display: flex;
  flex-direction: column;
}
#content #getInTouch #feedback #message label {
  margin-bottom: 1.5%;
  margin-top: 3%;
}
#content #getInTouch #feedback #message #messageInp {
  min-height: 25%;
}
#content #getInTouch #feedback #message #sendMessageButton {
  width: 38%;
  background: #252525;
  border-radius: 8px;
  font-family: Helvetica regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #F6F0E9;
  cursor: pointer;
  padding: 3% 0;
  text-align: center;
  margin-top: 7%;
}
#content .line {
  background-color: #F6F0E9;
  height: 60px;
  min-width: 100%;
}
/*# sourceMappingURL=homePage.css.map */