@font-face {
  font-family: Kurye;
  src: url("fonts/Kurye-LightItalic.otf");
}
@font-face {
  font-family: Calgria;
  src: url("fonts/LekyCalgria.ttf");
}
body {
  margin: 0;
}
body header {
  height: 82px;
  background: rgba(37, 37, 37, 0.8);
  display: flex;
  flex-direction: row;
}
body header #logo {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 8%;
}
body header .logoImg,
body header .underLogo {
  color: #DBB32F;
  font-family: 'Raleway', serif;
  letter-spacing: 0.165em;
}
body header .logoImg {
  font-size: 20px;
}
body header .underLogo {
  font-size: 10px;
  margin-left: 20%;
}
body header #navButtons {
  display: flex;
  flex-direction: row;
  color: white;
  align-self: center;
  font-family: Kurye, serif;
  margin-left: 16%;
}
body header #navButtons div {
  cursor: pointer;
  font-size: 18px;
  line-height: 27px;
  font-style: normal;
  font-weight: 300;
  margin: 0 5px;
  padding: 10px;
  transition-duration: 0.3s;
}
body header #navButtons div:hover {
  transition-duration: 0.4s;
  background-color: rgba(37, 37, 37, 0.2);
}
body header #navButtons div:first-child {
  margin-left: 0;
}
body header #navButtons div:last-child {
  margin-right: 0;
}
body header .bookAppointment {
  align-self: center;
  color: white;
  font-family: Kurye, serif;
  font-size: 14px;
  padding: 16px 48px;
  background-color: #AE825D;
  border-radius: 8px;
  margin-left: 10%;
  cursor: pointer;
  transition: 0.3s;
}
body header .bookAppointment:hover {
  transition: 0.4s;
  transform: scale(1.02);
}
#content #firstGirl {
  min-width: 100%;
  max-height: 900px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
#content #firstArticle {
  margin-top: 10%;
  margin-left: 8%;
}
#content #firstArticle .calgary {
  font-family: Calgria, 'sans-serif';
  font-size: 64pt;
  color: #FFFFFF;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
#content #firstArticle .smallFont {
  font-weight: normal;
  font-size: 24pt;
}
#content #firstArticle .bigFont {
  font-size: 82pt;
}
#content #firstArticle #check {
  color: #432328;
  font-family: Kurye, 'sans-serif';
  font-size: 15pt;
  margin-top: 2%;
}
#content #firstArticle #buttonsFirst {
  display: flex;
  flex-direction: row;
  margin-top: 28px;
}
#content #firstArticle #buttonsFirst .bookAppointment {
  align-self: center;
  color: white;
  font-family: Kurye, serif;
  font-size: 14px;
  background-color: #AE825D;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  padding: 16px 48px;
}
#content #firstArticle #buttonsFirst .bookAppointment:hover {
  transition: 0.4s;
  transform: scale(1.02);
}
#content #firstArticle #buttonsFirst .services {
  margin-left: 1%;
}
#content #firstArticle #services {
  margin-top: 4%;
  display: flex;
  flex-direction: row;
  color: #AE825D;
  font-family: Kurye, 'sans-serif';
  font-style: normal;
  font-weight: 300;
  font-size: 12pt;
}
#content #firstArticle #services > div {
  margin-right: 93px;
}
#content #firstArticle #services > div div:first-child {
  margin-bottom: 8px;
}
#content #firstArticle #services .firstColumn,
#content #firstArticle #services .secondColumn,
#content #firstArticle #services .thirdColumn {
  display: flex;
  flex-direction: column;
}
#content .services,
#content .button {
  align-self: center;
  color: #AE825D;
  font-family: Kurye, serif;
  font-size: 14px;
  border: 1px solid #AE825D;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
  padding: 16px 48px;
}
#content #secondArticle {
  display: flex;
  flex-direction: row;
  margin-top: 10%;
}
#content #secondArticle #secondGirl {
  max-width: 690px;
  max-height: 650px;
}
#content #secondArticle #bcElement {
  position: absolute;
  right: 0;
  top: 1148px;
}
#content #secondArticle #textSecondArticle {
  margin-left: 10%;
  margin-top: 11%;
  max-width: 650px;
}
#content #secondArticle #textSecondArticle .bigFont {
  font-size: 65pt;
  line-height: 64px;
  font-family: Calgria, 'sans-serif';
}
#content #secondArticle #textSecondArticle .mediumFont {
  margin-top: 7%;
  font-family: Calgria, 'sans-serif';
  font-size: 30pt;
  line-height: 32px;
  color: #432328;
}
#content #secondArticle #textSecondArticle .smallFont {
  font-family: Kurye, 'sans-serif';
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #798189;
  margin-top: 3%;
}
#content #secondArticle #textSecondArticle .button {
  margin-top: 7%;
  max-width: 180px;
}
#content #thirdArticle {
  margin-top: 5%;
}
#content #thirdArticle .border {
  height: 0;
  box-sizing: border-box;
  border: 1px solid black;
  width: 240px;
  margin-bottom: 2%;
}
#content #thirdArticle .bigFont {
  font-family: Calgria, 'sans-serif';
  font-style: normal;
  font-weight: normal;
  font-size: 70pt;
  text-align: center;
}
#content #thirdArticle .gallery {
  margin-top: 2%;
  min-height: 420px;
  background: linear-gradient(to bottom, #EEDEBD 70%, transparent 50%);
}
/*# sourceMappingURL=homePage.css.map */