@import "variables";

table {
  width: 50%;
  margin: 0 auto 1% auto;
  font-family: @fontMontserrat;

  td {
    padding-right: 15px;

    textarea {
      font-size: 12pt;
      font-family: @fontMontserrat;
      font-weight: normal;
    }

    div {
      cursor: pointer;
      background-color: @goldColor;
      border-radius: 8px;
      color: white;
      padding: 7px 5px;
      font-size: 11pt;
      transition: 0.4s;
      text-align: center;

      &:hover {
        background-color: @goldColorHover;
        transform: scale(1.04);
        transition: .3s;
      }

      &:active {
        transform: scale(1);
        transition: .2s;
      }
    }
  }
}

.addPrice {
  cursor: pointer;
  border-radius: 100%;
  max-width: 45px;
  height: 45px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3%;
  transition: .4s;

  img {
    position: relative;
    width: 100%;
  }

  &:hover {
    transform: scale(1.1);
    transition: .3s;
  }

  &:active {
    transform: scale(1);
    transition: .2s;
  }
}

#photoEdit {
  margin-top: 5%;
  margin-bottom: 3%;

  > div {
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;

    img {
      cursor: pointer;
      width: 800px;
      margin-right: auto;
      margin-left: auto;
    }

    input {
      display: none;
    }
  }
}

#button {
  padding: 10px 36px;
  background-color: @goldColor;
  border-radius: 8px;
  font-size: 12pt;
  line-height: 150%;
  color: white;
  cursor: pointer;
  transition: .4s;
  width: 10%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;

  &:hover {
    background-color: @goldColorHover;
    transform: scale(1.04);
    transition: .3s;
  }

  &:active {
    transform: scale(1);
    transition: .2s;
  }
}

