@orangeTextColor: #DBB32F;
@fontFamilyLogo: 'Raleway', serif;
@font-face {
  font-family: Kurye;
  src: url("fonts/Kurye-LightItalic.otf");
}
@font-face {
  font-family: Calgria;
  src: url("fonts/LekyCalgria.ttf");
}
@backColorButtonBooking: #AE825D;