@orangeTextColor: #DBB32F;
@fontFamilyLogo: 'Raleway', serif;
@font-face {
  font-family: Helvetica regular;
  src: url("fonts/helvetica_regular.otf");
}
@fontFamilyHelvetica: Helvetica regular, sans-serif;
@goldColor: #AE825D;
